click
ipykernel
ipywidgets
ipyevents
pyvista

ipykernel
numpy
scikit-learn
scipy
pandas
matplotlib
mne
tqdm

pyvistaqt
torch

setuptools
cookiecutter
flake8
coverage
Sphinx
python-dotenv>=0.5.1